<!-- Permet de récupérer l'ordre -->
<% let tri;
if(typeof ordre != 'undefined'){ 
      tri = ordre 
    }else{
      tri = 'asc';
    }
%> 
<ul>
    <li><a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider la liste</a></li>
    <li><a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peupler la liste</a></li>
</ul>
<table class="tableau">
    <tr>
        <th><a href='/trier/id/<%= tri %>'>ID</a></th>
        <th><a href='/trier/nom/<%= tri %>'>Nom</a></th> 
        <th><a href='/trier/prenom/<%= tri %>'>Prenom</a></th>
        <th><a href='/trier/telephone/<%= tri %>'>Telephone</a></th>
        <th><a href='/trier/courriel/<%= tri %>'>Courriel</a></th>
    </tr>
    <% adresses.forEach(elm => {%>
        <tr>
            <td><%= elm._id %></td>
            <td><%= elm.nom %></td>
            <td><%= elm.prenom %></td>
            <td><%= elm.telephone %></td>
            <td><%= elm.courriel %></td>
            <td><a href="/profil/<%= elm._id %>">Modifier</a></td>
            <td><a href="/detruire/<%= elm._id %>">Detruire</a></td>
        </tr>
    <% }) %>
</table>