<!-- Permet de récupérer l'ordre -->
<% let tri;
if(typeof ordre != 'undefined'){ 
      tri = ordre 
    }else{
      tri = 'asc';
    }
%> 
<ul>
    <li><a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider la liste</a></li>
    <li><a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peupler la liste</a></li>
</ul>
<form class='form_recherche' action="/rechercher" name='form_recherche' id='form_recherche' method="POST" >
    <i class="fa fa-search" aria-hidden="true"></i><input type="text" name="chaine" placeholder="Rechercher un membre">
    <input type="submit" value="Rechercher">
</form>
<table class="tableau">
    <tr>
        <th>Profil</th>
        <th><a href='/trier/prenom/<%= tri %>'>Prenom</a></th>
        <th><a href='/trier/nom/<%= tri %>'>Nom</a></th> 
        <th><a href='/trier/telephone/<%= tri %>'>Telephone</a></th>
        <th><a href='/trier/courriel/<%= tri %>'>Courriel</a></th>
        <th><a href='/trier/id/<%= tri %>'>ID</a></th>
    </tr>
    <% adresses.forEach(elm => {%>
        <tr>
            <td><a href="/profil/<%= elm._id %>"><i class="fas fa-user"></i></a></td>
            <td><%= elm.prenom %></td>
            <td><%= elm.nom %></td>
            <td><%= elm.telephone %></td>
            <td><%= elm.courriel %></td>
            <td><%= elm._id %></td>
        </tr>
    <% }) %>
</table>