<h1>Profil du membre</h1>

<h2>Nom</h2>
<p contenteditable="true"><%= elm.nom %></p>
<h2>Prénom</h2>
<p contenteditable="true"><%= elm.prenom %></p>
<h2>Téléphone</h2>
<p contenteditable="true"><%= elm.telephone %></p>
<h2>Courriel</h2>
<p contenteditable="true"><%= elm.courriel %></p>

<a class='sauver' href="#">Sauver</a>
<a href="/detruire/<%= elm._id %>">Supprimer</a>