<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <%- include('composants/adr') %>
 <%- include('composants/form_post') %>
 <%- include('composants/footer') %>
</body>
</html>